// Copyright 2018 Quinn Michaels
// This file is part of Indra VueJs Gui Boilerplate
//
// Indra VueJs Gui Boilerplate is free software:
// you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Foobar is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Foobar.  If not, see <https://www.gnu.org/licenses/>.

@keyframes moveOut
  0%
    margin-left: inherit
    margin-top: inherit
    visibility: inherit
    opacity: 1
    height: inherit
  60%
    margin-left: 60px
    margin-top: inherit
    visibility: hidden
    opacity: 0

  100%
    margin-left: 60px
    margin-top: -36px
    visibility: hidden
    opacity: 0

@keyframes fadeIn
  0%
    transform: scale(.97)
    opacity: 0

  60%
    transform: scale(1.03)
    opacity: .5

  100%
    transform: scale(1)
    opacity: 1

@keyframes slideInRight
  0%
    transform: translate3d(100%, 0, 0)
    visibility: visible

  100%
    transform: translate3d(0, 0, 0)

.slideInRight
    animation-name: slideInRight

@keyframes slideOutRight
  0%
    transform: translate3d(0, 0, 0)

  100%
    transform: translate3d(100%, 0, 0)

.slideOutRight
    animation-name: slideOutRight


@keyframes slideInLeft
  0%
    transform: translate3d(-100%, 0, 0)

  100%
    transform: translate3d(0, 0, 0)

.slideInLeft
  animation-name: slideInLeft


@keyframes slideOutLeft
  0%
    transform: translate3d(0, 0, 0)

  100%
    transform: translate3d(-100%, 0, 0)

.slideOutLeft
  animation-name: slideOutLeft



@keyframes spinning
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)



@keyframes breathe
  0%
    opacity: .9
    transform: scale(.9)
    filter: blur(.5rem)
  100%
    opacity: .3
    transform: scale(.3)
    filter: blur(1rem)

@keyframes breathe-sample
  0%
    background-color: rgba($colors.charcoal, 10%)
  100%
    background-color: rgba($colors.charcoal, 50%)

@keyframes color-cycle
  0%
    background-color: #ff00ff
  20%
    background-color: #0000ff
  40%
    background-color: #00ffff
  59%
    background-color: #00ff00
  78%
    background-color: #ffff00
  95%
    background-color: #ff0000
  100%
    background-color: #ff00ff
