// Copyright 2018 Quinn Michaels
// This file is part of Indra VueJs Gui Boilerplate
//
// Indra VueJs Gui Boilerplate is free software:
// you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Foobar is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Foobar.  If not, see <https://www.gnu.org/licenses/>.

*
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html, body, header, main, footer, div, p, article, section, h1, h2, h3, h4, h5, h6, a, span, ul, ol, li, dt, dd, aside, dialog, form, textarea, input, select
  box-sizing: border-box

body, button, p, div, article, section, span, ul, ol, dt, form, textarea, input, select, h1, h2, h3, h4, h5, h6
  font-family: $fontFamily

html, body
  height: 100%


body
  transition: background-color .5s linear
  background-color: lighten($colors.charcoal, 10%)
  -webkit-text-size-adjust: none
  font-size: 12px
  margin: 0px
  padding: 0px
  width: 100%
  font-weight: 300
  color: $text-color


// global color classes
for $color in $colors
  .{$color}
    &-txt
      color: $colors[$color]
    &-bg
      background-color: $colors[$color]
    &-border
      border: 1px solid transparent
      border-color: $colors[$color]
