*
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html, body, header, main, footer, div, p, article, section, h1, h2, h3, h4, h5, h6, a, span, ul, ol, li, dt, dd, aside, dialog, form, textarea, input, select
  box-sizing: border-box

body, button, h1, h2, h3, h4, h5, p, div, article, section, span
  font-family: $fontFamily

html, body
  height: 100%


body
  transition: background-color .5s linear
  background-color: white
  -webkit-text-size-adjust: none
  font-size: 12px
  margin: 0px
  padding: 0px
  width: 100%
  font-weight: 300
  color: $text-color
