// Copyright 2018 Quinn Michaels
// This file is part of Indra VueJs Gui Boilerplate
//
// Indra VueJs Gui Boilerplate is free software:
// you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Foobar is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Foobar.  If not, see <https://www.gnu.org/licenses/>.

$colors = {
  white: #ffffff,
  orange-lt: #f5aa00,
  orange-md: #be6300,
  orange-dk: #6b533a,
  yellow: #f1d14d,
  charcoal: #363636,
  blue: #0090ff,
  red: #ad2323,
  air: #e4d81a,
  water: #315fc6,
  fire: #e43b1a,
  earth: #42c631,
  pink: #ff6bf9,
  santa: #d12f2f,
  rose: #d6376b,
}
$statusColors = {
  primary: $colors.blue,
  secondary: $colors.orange-lt,
  success: $colors.earth,
  danger: $colors.fire,
  warning: $colors.yellow,
  info: $colors.air,
}

$fontFamily = 'brandon-grotesque', 'Avenir Next', HelveticaNeue, Helvetica, Arial, sans-serif

$transition = all .33s linear

$text-color = $colors.charcoal
$box-shadow = 0 .2rem .4rem rgba($colors.charcoal, 12%)
