$colors = {
  white: #ffffff,
  orange: #c9611b,
  orange-lt: #eebb4b,
  orange-md: #e89f2b,
  orange-dk: #6b533a,
  yellow: #f1d14d,
  charcoal: #363636,
  blue: #0090ff,
  red: #ad2323,
  air: #e4d81a,
  water: #315fc6,
  fire: #e43b1a,
  earth: #42c631,
  pink: #ff6bf9,
  santa: #d12f2f,
  rose: #d6376b,
}

$fontFamily = 'Avenir Next', HelveticaNeue, Helvetica, Arial, sans-serif
$transition = all .5s linear

$text-color = lighten($colors.charcoal, 40%)
$box-shadow = 0 .2rem .4rem rgba($colors.charcoal, 12%)
