$heads = json('../assets/heads/index.json', { hash: true, leave-strings: true })
//tes
for $head in ($heads)
  $imgPath = './assets/heads/' + $head + '/' + $head
  $img = $imgPath + '.png'
  $imgS = $imgPath + '@25.png'
  $imgM = $imgPath + '@50.png'
  $imgL = $imgPath + '@75.png'

  //heads
  .heads
    display: inline-block

    &-{$head}
      &-full
        $imgW = image-size($img)[0]
        $imgH = image-size($img)[1]
        background-image: url($img)
        background-size: $imgW $imgH
        width: $imgW
        height: $imgH

      &-s
        $imgSW = image-size($imgS)[0]
        $imgSH = image-size($imgS)[1]
        display: inline-block
        background-image: url($imgS)
        background-size: $imgSW $imgSH
        width: $imgSW
        height: $imgSH

      &-m
        $imgMW = image-size($imgM)[0]
        $imgMH = image-size($imgM)[1]
        display: inline-block
        background-image: url($imgM)
        background-size: $imgMW $imgMH
        width: $imgMW
        height: $imgMH

      &-l
        $imgLW = image-size($imgL)[0]
        $imgLH = image-size($imgL)[1]
        display: inline-block
        background-image: url($imgL)
        background-size: $imgLW $imgLH
        width: $imgLW
        height: $imgLH
