// Copyright 2018 Quinn Michaels
// This file is part of Indra VueJs Gui Boilerplate
//
// Indra VueJs Gui Boilerplate is free software:
// you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Foobar is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Foobar.  If not, see <https://www.gnu.org/licenses/>.

$icons = {
  "home": "\e800",
  "apartment": "\e801",
  "pencil": "\e802",
  "magic-wand": "\e803",
  "drop": "\e804",
  "lighter": "\e805",
  "poop": "\e806",
  "sun": "\e807",
  "moon": "\e808",
  "cloud": "\e809",
  "cloud-upload": "\e80a",
  "cloud-download": "\e80b",
  "cloud-sync": "\e80c",
  "cloud-check": "\e80d",
  "database": "\e80e",
  "lock": "\e80f",
  "cog": "\e810",
  "trash": "\e811",
  "dice": "\e812",
  "heart": "\e813",
  "star": "\e814",
  "star-half": "\e815",
  "star-empty": "\e816",
  "flag": "\e817",
  "envelope": "\e818",
  "paperclip": "\e819",
  "inbox": "\e81a",
  "eye": "\e81b",
  "printer": "\e81c",
  "file-empty": "\e81d",
  "file-add": "\e81e",
  "enter": "\e81f",
  "exit": "\e820",
  "graduation-hat": "\e821",
  "license": "\e822",
  "music-note": "\e823",
  "film-play": "\e824",
  "camera-video": "\e825",
  "camera": "\e826",
  "picture": "\e827",
  "book": "\e828",
  "bookmark": "\e829",
  "user": "\e82a",
  "users": "\e82b",
  "shirt": "\e82c",
  "store": "\e82d",
  "cart": "\e82e",
  "tag": "\e82f",
  "phone-handset": "\e830",
  "phone": "\e831",
  "pushpin": "\e832",
  "map-marker": "\e833",
  "map": "\e834",
  "location": "\e835",
  "calendar-full": "\e836",
  "keyboard": "\e837",
  "spell-check": "\e838",
  "screen": "\e839",
  "smartphone": "\e83a",
  "tablet": "\e83b",
  "laptop": "\e83c",
  "laptop-phone": "\e83d",
  "power-switch": "\e83e",
  "bubble": "\e83f",
  "heart-pulse": "\e840",
  "construction": "\e841",
  "pie-chart": "\e842",
  "chart-bars": "\e843",
  "gift": "\e844",
  "diamond": "\e845",
  "linearicons": "\e846",
  "dinner": "\e847",
  "coffee-cup": "\e848",
  "leaf": "\e849",
  "paw": "\e84a",
  "rocket": "\e84b",
  "briefcase": "\e84c",
  "bus": "\e84d",
  "car": "\e84e",
  "train": "\e84f",
  "bicycle": "\e850",
  "wheelchair": "\e851",
  "select": "\e852",
  "earth": "\e853",
  "smile": "\e854",
  "sad": "\e855",
  "neutral": "\e856",
  "mustache": "\e857",
  "alarm": "\e858",
  "bullhorn": "\e859",
  "volume-high": "\e85a",
  "volume-medium": "\e85b",
  "volume-low": "\e85c",
  "volume": "\e85d",
  "mic": "\e85e",
  "hourglass": "\e85f",
  "undo": "\e860",
  "redo": "\e861",
  "sync": "\e862",
  "history": "\e863",
  "clock": "\e864",
  "download": "\e865",
  "upload": "\e866",
  "enter-down": "\e867",
  "exit-up": "\e868",
  "bug": "\e869",
  "code": "\e86a",
  "link": "\e86b",
  "unlink": "\e86c",
  "thumbs-up": "\e86d",
  "thumbs-down": "\e86e",
  "magnifier": "\e86f",
  "cross": "\e870",
  "menu": "\e871",
  "list": "\e872",
  "chevron-up": "\e873",
  "chevron-down": "\e874",
  "chevron-left": "\e875",
  "chevron-right": "\e876",
  "arrow-up": "\e877",
  "arrow-down": "\e878",
  "arrow-left": "\e879",
  "arrow-right": "\e87a",
  "move": "\e87b",
  "warning": "\e87c",
  "question-circle": "\e87d",
  "menu-circle": "\e87e",
  "checkmark-circle": "\e87f",
  "cross-circle": "\e880",
  "plus-circle": "\e881",
  "circle-minus": "\e882"
  "arrow-up-circle": "\e883",
  "arrow-down-circle": "\e884",
  "arrow-left-circle": "\e885",
  "arrow-right-circle": "\e886",
  "chevron-up-circle": "\e887",
  "chevron-down-circle": "\e888",
  "chevron-left-circle": "\e889",
  "chevron-right-circle": "\e88a",
  "crop": "\e88b",
  "frame-expand": "\e88c",
  "frame-contract": "\e88d",
  "layers": "\e88e",
  "funnel": "\e88f",
  "text-format": "\e890",
  "text-format-remove": "\e891",
  "text-size": "\e892",
  "bold": "\e893",
  "italic": "\e894",
  "underline": "\e895",
  "strikethrough": "\e896",
  "highlight": "\e897",
  "text-align-left": "\e898",
  "text-align-center": "\e899",
  "text-align-right": "\e89a",
  "text-align-justify": "\e89b",
  "line-spacing": "\e89c",
  "indent-increase": "\e89d",
  "indent-decrease": "\e89e",
  "pilcrow": "\e89f",
  "direction-ltr": "\e8a0",
  "direction-rtl": "\e8a1",
  "page-break": "\e8a2",
  "sort-alpha-asc": "\e8a3",
  "sort-amount-asc": "\e8a4",
  "hand": "\e8a5",
  "pointer-up": "\e8a6",
  "pointer-right": "\e8a7",
  "pointer-down": "\e8a8",
  "pointer-left": "\e8a9"
}

  //
  [class*=icn-]
  	font-family: 'icons'
  	font-style: normal
  	font-variant: normal
  	font-weight: normal
  	line-height: 1
  	speak: none
  	text-transform: none
  	-moz-osx-font-smoothing: grayscale
  	-webkit-font-smoothing: antialiased

  for icon in $icons
    .icn-{icon}::before
      content: $icons[icon]

  @font-face
  	font-family: 'icons'
  	src: url('./assets/icons/linear/Linearicons-Free.ttf?w118d')
  	font-style: normal
  	font-weight: normal
