// Copyright 2018 Quinn Michaels
// This file is part of Indra VueJs Gui Boilerplate
//
// Indra VueJs Gui Boilerplate is free software:
// you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Foobar is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Foobar.  If not, see <https://www.gnu.org/licenses/>.

// headings.styl
// this file builds the headings styles for use with regular headings and display classes
// the classes are accessed with regular heading tags with .h1..h6 and with added .display class to increase the font-size by 1rem

$base-size = 3rem
$new-size = $base-size

for dsp in (1..6)
  h{dsp},
  .h{dsp}
    font-weight: 300
    margin: 0
    padding: 0
    font-size: $new-size

    &.display
      font-size: $new-size + 1

  $new-size = $new-size - .25;
