// Copyright 2018 Quinn Michaels
// This file is part of Indra VueJs Gui Boilerplate
//
// Indra VueJs Gui Boilerplate is free software:
// you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Foobar is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Foobar.  If not, see <https://www.gnu.org/licenses/>.

// main controller file for the typography
// other files for sub functions of typography are required here while smaller base classes can be added directly to this file

@require('headings')

caption
  display: flex
  margin: 1rem
  padding: 1rem
  font-size: 1rem
  border-top: 2px solid $colors.blue

.lead
  font-size: 1.25rem
  font-weight: 300

// mark text
mark
  background-color: $colors.orange-lt

s, strike, del
  text-decoration: line-through

u, ins
  text-decoration: underline

small, .small
  font-size: 80%

b, strong
  font-weight: 900

i, em
  font-style: italic

blockquote, .blockquote
  margin: 1rem
  font-size: 1.25rem

  footer, .footer
    display: block
    font-size: 80%
    color: $colors.charcoal
