// Copyright 2018 Quinn Michaels
// This file is part of Indra VueJs Gui Boilerplate
//
// Indra VueJs Gui Boilerplate is free software:
// you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Foobar is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Foobar.  If not, see <https://www.gnu.org/licenses/>.

.btn
  transition: all .3s linear
  background-color: lighten($colors.charcoal, 20%)
  color: $colors.white
  border-radius: .5rem
  font-size: 1.1rem
  box-shadow: $box-shadow
  font-weight: 300
  position: relative
  border: none
  margin: 0
  padding: .5rem
  text-align: center

  &-sm
    font-size: 1rem
    padding: .2rem .4rem

  &-md
    font-size: 1.3rem
    padding: .75rem 1rem

  &-lg
    font-size: 1.5rem
    padding: .75rem 1rem

  &:focus
    outline: none

  &:hover
    cursor: pointer

  &:active
    box-shadow: 0 0 .1rem rgba($colors.charcoal, 5%)
    background-color: lighten($colors.charcoal, 95%)

  for $color in $statusColors
    &-{$color}
      background-color: $statusColors[$color]
      &:focus
      &:hover
      &:active
        background-color: darken($statusColors[$color], 20%)
